body{
    overflow-x: hidden;
}

label {
    display: block;
    margin-top: 10px;
}

.card-container.card {
    width: 470px;
    height: 525px;
    background: #FFFFFF;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.card {
    padding: 20px 25px 30px;
    margin: 0 auto 45px;
    margin-top: 50px;
}

.login-img-card {
    width: 100%;
    height: 100%;
}

.login-image-block {
    background: linear-gradient(204.28deg, #F5EBEF 14.76%, rgba(151, 139, 234, 0.5) 97.11%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 40px;
}

.login {
    padding-left: 25%;
}

.login-form-block {
    position: relative;
    z-index: 2;
    margin-left: -5.333333%;
}

.login-image-block {
    width: 400px !important;
    height: 525px;
    margin-right: -5.333333%;
}

.login-image-block img {
    width: 65%;
    height: 50%;
    position: absolute;
    left: 10%;
    top: 28.42%;
    bottom: 29.97%;
}

@media (max-width: 767.98px) {
    .login-image-block,
    .login-form-block {
        margin-left: 0;
        margin-right: 0;
    }
}

#welcome {
    width: 438px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.12em;
    padding-top: 1%;
    padding-left: 1%;
}

.form-group {
    padding: 5px;

}

.form-control {
    background: #FFFFFF;
    border: 3px solid #B7B7B7;
    height: 45px;
    width: 330px;
    border-radius: 0 !important;
}

.login-form {
    padding-top: 15%;
    padding-left: 5%
}

#email-input {
    background: url(../public/icons/email.png) no-repeat center right;
    background-size: 20px;
    background-position-x: 98%;
}

#password-input {
    background: url(../public/icons/password.png) no-repeat center right;
    background-size: 17px;
    background-position-x: 98%;
}

#name-input {
    background: url(../public/icons/profile.png) no-repeat center right;
    background-size: 20px;
    background-position-x: 98%;
}

#already-has-account {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    letter-spacing: 0.12em;
    padding-left: 26%;
}

.btn.btn-primary.btn-block.btn-gradient {
    background: linear-gradient(269.22deg, #BF698D 9.61%, #8E3BA3 45.58%, rgba(97, 69, 137, 0.951505) 80.3%,
    rgba(24, 41, 103, 0.89) 110.59%);
    border-radius: 275px;
    border-color: #BF698D;
    width: 111px;
    height: 37px;
}

#btn-login {
    padding-left: 28%
}

.sign-up-form {
    padding-left: 5%;
    padding-top: 1%;
}

#logo-text{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #3DA1CC 0%, #3DA1CC 0.01%, #BC78DB 75%, #810BB8 97.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1%;
}

.nav-link{
    position: relative;
    top: 10%;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.navbar-nav.mr-auto.nav-links{
    position: relative;
    left: 25%;

}
.btn.btn-primary.btn-block.btn-gradient-2{
    background-color: rgba(174, 85, 123, 0.1);
    border-color: #810BB8;
    padding: 5px;
    border-width: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: black;
    width: 111px;
    height: 37px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    box-sizing: border-box;
}

.navbar.navbar-expand{
    position: relative;
    top: 1%
}

#btn-logout{
    position: absolute;
    right: 2%;
    top: 20%
}

#btn-login-main{
    position: absolute;
    right: 10%;
    top: 15%;
}

#btn-sign-up-main{
    position: absolute;
    right: 2%;
    top: 15%
}

#link-text{
    text-decoration: none;
}

#profile-container{
    margin-left: 25%;
}

.profile-update-form {
    padding-top: 1%;
    padding-left: 5%
}

.dropdown{
    position: relative;
    margin-left: 4%;
    margin-bottom: 35%;
}

#status{
    background: #FFFFFF;
    border: 3px solid #B7B7B7;
    height: 45px;
    width: 330px;
    border-radius: 0 !important;
}

.dropdown-value {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.profile-update-buttons{
    margin-left: 17%;
    margin-bottom: 10%;
}

#profile-update-submit{
    margin-right: 5%;
}

.alert.alert-danger{
    font-size: 10px;
    line-height: 1px;
    height: 30px;
    width: 330px;
    margin: 0;
}

#status-dropdown{
    margin-left: 1% !important;
}

.main-image-1{
    margin-right: 0;
}

.container-main {
    position: relative;
}

.image {
    height: 500px;
}

.image1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
}

.image2 {
    position: absolute;
    top: 0;
    left: 15%;
    max-width: 100%;
    height: 500px;
}

.image3 {
    position: absolute;
    top: 10%;
}

.container-home{
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.vector1{
    margin-bottom: 10%;
    height: 450px;
    width: 120%;
}

.main-text{
    margin-left: 10%;
    margin-top: 5%;
}

.mainPage-buttons{
    margin-top: 5%;
}

#mainPage-start-btn{
    margin-right: 5%;
}
div.div1, div.div2 {
    position: absolute;
    left: 0;
    right: 0;
    outline: solid 1px #ccc;
    margin: 5px;
}
div.div1 {
    height: 100px;
    top: 0;
}
div.div2 {
    top: 100px;
    bottom: 0;
}

.main-description{
    text-align: center;
    padding-bottom: 5%;
}

.main-image-2 {
    height: 500px;
}

.image-second-1 {
    position: absolute;
    left: 0;
    width: 1000px;
    height: 550px;
}

.image-second-2{
    position: absolute;
    left: 15%;
    max-width: 100%;
    height: 500px;
}

.image-second-3{
    position: absolute;
    left: 0;
    width: 1000px;
}

.main-text1{
    display:inline-block;
    float: left;
    padding-top: 5%;
}

.main-text-img{
    display:block;
    float: left;
    padding-right: 5%;
}

.indicators{
    height: 130px;
    width: 130px;
}

#electric{
    margin-top: 20%;
}